<header>
  <h2>Stanowiska</h2>
</header>

<div class="options">
  <input type="search" ng-model="searchQuery" />
  <a href='#/positions/new'>Dodaj stanowisko</a>
</div>

<div ng-show="!positions.length">
  Pusto. <a href="#/positions/new">dodaj</a> stanowisko
</div>
<div ng-show="positions.length">
<table class="list">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Wynagrodzenie</th>
      <th>Opcje</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="position in positions | filter:searchQuery | orderBy: '-salary'">
      <td>{{position.name}}</td>
      <td>{{position.salary | currency}}</td>
      <td><a href='#/positions/{{position._id}}'>pokaż</a> | <a
        href='#/positions/{{position._id}}/edit'>edytuj</a></td>
    </tr>
  </tbody>
</table>
</div>

