<h2>{{operation}} stanowisko</h2>

{{ response }}

<form name="form" novalidate>
  <table class="new">
    <tr>
      <th>Nazwa:</th> 
      <td><input type="text" name="name" ng-model="fields.name" required/></td>
      <td>
        <span ng-show="(form.name.$dirty && form.name.$invalid) || submitted">
          <div ng-show="form.name.$error.required">To pole jest wymagane</div>
        </span>
      </td>
    </tr>
    <tr>
      <th>Wynagrodzenie:</th> 
      <td><input type="number" name="salary" ng-model="fields.salary" required/></td>
      <td>
        <span ng-show="(form.salary.$dirty && form.salary.$invalid) || submitted">
          <div ng-show="form.salary.$error.required">To pole jest wymagane</div>
          <div ng-show="form.salary.$error.number">Liczby są wymagane</div>
        </span>
      </td>
    </tr>
      <th></th>
      <td>
        <input type="submit" ng-disabled="form.name.$dirty && form.name.$invalid || form.salary.$dirty && form.salary.$invalid"  ng-click='addPosition(form)' />
      </td>
      <td>

      </td>
    </tr>
  </table>
</form>
