<h2>Stanowisko - {{ position.name }} </h2>

<p><b>Nazwa:</b> {{ position.name }}</p>
<p><b>Wynagrodzenie:</b> {{ position.salary | currency }}</p>

<div>
<h3>Opcje</h3>
<ul>
  <li><a ng-href="#/positions/{{position._id}}/edit">edytuj stanowisko</a></li>
  <li><a href="" ng-click='deletePosition()'>usuń stanowisko</a></li>
</div>

