@default-margin: 20px;
@gray-light: #e1e1e1;
@gray-medium: #aaa;
@green: #2ecc71;
@white: #fff;
@black: #111;

.draggable-dropzone {
  display: block;
  border: 3px dashed @gray-medium;
  padding: @default-margin / 2;
  width: 100%;
  min-height: @default-margin * 2.5;
  color: @gray-medium;
  margin-bottom: @default-margin / 2;
  &.activated {
    border-color: @green;
  }
  &.deactivated {
    border-color: @gray-light;
  }
}
.draggable-item[draggable=true] {
  display: inline-block;
  min-width: @default-margin;
  min-height: @default-margin;
  background: @gray-light;
  padding: @default-margin / 4 @default-margin / 2;
  margin: @default-margin / 4;
  -moz-user-select: none;
  -khtml-user-drag: element;
  cursor: move;
  &:hover {
    background-color: @gray-medium;
  }
}

.item {
  background: @gray-medium;
  border-radius: 0.5em;
  padding: 0.5em;
  margin-left: 0.5em;
}

@media screen and (max-width: 480px) {
  span.item {
    display: block;
  }
}

.items-list {
  height: 5em;
}
