html, body {
  width: 100%;
  height: 100%;
}
.head {
  background: #1a1a1a;
  min-height: 5em;
  border-bottom: .5em solid #cecece;
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-flow: row wrap;

  h1 {
    padding-left: 1em;
    a {
      color: #cecece;
      &:hover {
        color: #cecece;
      }
    }

  }


  ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
     
    list-style: none;
    margin: 0;

    a {
      display: block;
      text-decoration: none;
      color: #cecece;
      padding: 1em;
      -webkit-transition: all .25s ease-in-out;
      -moz-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;

      &:hover {
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-shadow: inset 0 5px 0 0 #cecece;
      }
    }
  }
}

div.container {
  margin: 0px auto;
  width: 80%;

  .options {
    width: 100%;
  }

  table {
    width: 100%;

    th, td {
      padding: 1em;
    }

    &.list {
      thead {
        border-bottom: 4px dashed #000;
      }


      tbody tr:hover {
        background: #f1f1f1;
      }

      tr {
        border-bottom: 1px solid #f1f1f1;
      }

      th:last-child {
        text-align: left;
      }

      td:last-child a {
        text-decoration: none;
        color: black;

        &:hover {
          text-decoration: underline;
        }
      }

    }

    &.new {

      th {
        text-align: right;
      }

      td {
        text-align: left;
      }

    }

  }
}

@import (less) 'draggable.less';

