<header>
  <h2>Pracownicy</h2>
</header>

<div class="options">
  <input type="text" ng-model="searchQuery" />
  <a href='#/workers/new'>Dodaj pracownika</a>
</div>

<div ng-show="!workers.length">
  Pusto. <a href="#/workers/new">dodaj</a> pracownika
</div>
<div ng-show="workers.length">
<table class="list">
  <thead>
    <tr>
      <th>Imie i Nazwisko</th>
      <th>Data urodzenia</th>
      <th>Data zatrudnienia</th>
      <th>Stanowisko</th>
      <th>Status</th>
      <th>Opcje</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="worker in workers | filter:searchQuery | orderBy: 'dateOfHiring'">
      <td>{{worker.firstName}} {{worker.lastName}}</td>
      <td>{{worker.dateOfBirth | date: 'shortDate'}}</td>
      <td>{{worker.dateOfHiring | date: 'shortDate'}}</td>
      <td>{{worker.position.name}}</td>
      <td>{{worker.status}}</td>
      <td><a ng-href='#/workers/{{worker._id}}'>pokaż</a> | <a ng-href='#/workers/{{worker._id}}/edit'>edytuj</a></td>
    </tr>
  </tbody>
</table>
</div>

