<h2>{{operation}} pracownika</h2>

{{ response }}

<form novalidate name="form">
  <table class="new">
    <tr>
      <th>Imie:</th>
      <td><input type="text" name="firstName" ng-model="fields.firstName" required /></td>
      <td>
        <span ng-show="(form.firstName.$dirty && form.firstName.$invalid) || submitted">
          <div ng-show="form.firstName.$error.required">To pole jest wymagane</div>
        </span>
      </td>
    </tr>
    <tr>
      <th>Nazwisko:</th>
      <td><input type="text" name="lastName" ng-model="fields.lastName" required/></td>
      <td>
        <span ng-show="(form.lastName.$dirty && form.lastName.$invalid) || submitted">
          <div ng-show="form.lastName.$error.required">To pole jest wymagane</div>
        </span>
      </td>
    </tr>
    <tr>
      <th>Data urodzenia:</th>
      <td><input type='date' name="dateOfBirth" ng-model="fields.dateOfBirth" required /></td>
      <td>
        <span ng-show="(form.dateOfBirth.$dirty && form.dateOfBirth.$invalid) || submitted">
          <div ng-show="form.dateOfBirth.$error.required">To pole jest wymagane</div>
        </span>
      </td>
    </tr>
    <tr>
      <th>Data zatrudnienia:</th>
      <td><input type='date' name="dateOfHiring" ng-model="fields.dateOfHiring" required /></td>
      <td>
        <span ng-show="(form.dateOfHiring.$dirty && form.dateOfHiring.$invalid) || submitted">
          <div ng-show="form.dateOfHiring.$error.required">To pole jest wymagane</div>
        </span>
      </td>
    </tr>
    <tr>
      <th>Stanowisko:</th>
      <td>
        <select name="position" ng-model="fields.position" ng-options="position.name for
          position in positions track by position._id" required>
        </select>
      </td>
      <td>
        <span ng-show="(form.position.$dirty && form.position.$invalid) || submitted">
          <div ng-show="form.position.$error.required">To pole jest wymagane</div>
        </span>
      </td>
    </tr>
    <tr>
      <th>Status:</th>
      <td>
        <select name="status" ng-model="fields.status" required>
          <option value="Zatrudniony">Zatrudniony</option>
          <option value="Zwolniony">Zwolniony</option>
        </select>
      </td>
      <td>
        <span ng-show="(form.status.$dirty && form.status.$invalid) || submitted">
          <div ng-show="form.status.$error.required">To pole jest wymagane</div>
        </span>
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <input type="submit" ng-disabled="form.firstName.$dirty && form.firstName.$invalid || form.lastName.$dirty && form.lastName.$invalid
        || form.dateOfBirth.$dirty && form.dateOfBirth.$invalid || form.dateOfHiring.$dirty && form.dateOfHiring.$invalid"
        ng-click="addWorker(form)" />
      </td>
    </tr>
  </table>

</form>

