<h2>Pracownik - {{ worker.firstName }} {{ worker.lastName }} </h2>

<p><b>Imie:</b> {{ worker.firstName }}</p>
<p><b>Nazwisko:</b> {{ worker.lastName }}</p>
<p><b>Data urodzenia:</b> {{ worker.dateOfBirth | date: 'shortDate' }}</p>
<p><b>Data zatrudnienia:</b> {{ worker.dateOfHiring | date: 'shortDate' }}</p>
<p><b>Stanowisko:</b> {{worker.position.name}}</p>
<p><b>Status:</b> {{worker.status}}</p>

<div>
<h3>Opcje</h3>
<ul>
  <li><a ng-href="#/workers/{{worker._id}}/edit">edytuj pracownika</a></li>
  <li><a href="" ng-click='deleteWorker()'>usuń pracownika</a></li>
</ul>
</div>

