<header>
  <h2>Zespoły</h2>
</header>

<div class="options">
  <input type="search" data-ng-model="searchQuery" />
  <a href='#/teams/new'>Dodaj zespół</a>
</div>

<div data-ng-show="!teams.length">
  Pusto. <a href="#/teams/new">dodaj</a> zespół
</div>
<div data-ng-show="teams.length">
<table class="list">
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Liczba pracowników</th>
      <th>Opcje</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="team in teams | orderBy: 'name' | filter:searchQuery">
      <td>{{team.name}}</td>
      <td>{{team.workers.length}}</td>
      <td><a data-ng-href="#/teams/{{team._id}}">pokaż</a> | <a
             data-ng-href="#/teams/{{team._id}}/edit">edytuj</a></td>
    </tr>
  </tbody>
</table>
</div>

