<h2>Dodaj zespół</h2>

{{ response }}

<form novalidate name="form">
  <table class="new">
    <tr>
      <th>Nazwa:</th>
      <td><input type="text" name="name" data-ng-model="fields.name" required /></td>
      <td>
        <span ng-show="(form.name.$dirty && form.name.$invalid) || submitted">
          <div ng-show="form.name.$error.required">To pole jest wymagane</div>
        </span>
      </td>
    </tr>
    <tr>
      <th>Pracownicy</th>
      <td>
        <div class="draggable-dropzone" data-drop="true"
          data-ng-model='selectedWorkers' data-jqyoui-options="" data-jqyoui-droppable="{multiple:true}">
          <div class="btn btn-info btn-draggable" ng-repeat="item in
            selectedWorkers" data-drag="{{item.drag}}"
            data-jqyoui-options="{revert: 'invalid'}"
            data-ng-model="selectedWorkers" data-jqyoui-draggable="{index: {{$index}},animate:true}">
          {{item.firstName}} {{item.lastName}} ({{item.position.name}})
          </div>
        </div>

        <div class="available-workers">
          <header>
            <h4>Dostępni pracownicy ({{availableWorkers.length}})</h4>
          </header>
          <div class="items-list" data-drop="true" ng-model='availableWorkers'
            data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=availableWorkers])'}"
            data-jqyoui-droppable="{multiple:true}">
            <div data-ng-show="availableWorkers.length">
              <span class="item" data-ng-repeat="item in availableWorkers"
                data-drag="{{item.drag}}" data-jqyoui-options="{revert:
                'invalid'}" data-ng-model="availableWorkers" data-jqyoui-draggable="{index: {{$index}},animate:true}">
                
               {{item.firstName}} {{item.lastName}} ({{item.position.name}})</div>
              </span>
            <div data-ng-show="!availableWorkers.length">
              <p>Nie ma pracowników by dodać</p>
            </div>
          </div>
        </div>

      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <input type="submit" ng-disabled="form.name.$dirty && form.name.$invalid" ng-click='addTeam(form)' />
      </td>
    </tr>
  </table>

</form>

