<h2>Zespół - {{ team.name }} </h2>

<p><b>Nazwa</b> {{ team.name }}</p>
<p><b>Pracownicy</b>
  <ul>
    <li data-ng-repeat="worker in team.workers">
      {{ worker.firstName }} {{ worker.lastName }} ({{worker.position.name}})
    </li>
  </ul>
<div>
<h3>Opcje</h3>
<ul>
  <li><a ng-href='#/teams/{{team._id}}/edit'>edytuj zespół</a></li>
  <li><a ng-click='deleteTeam()'>usuń zespół</a></li>
</div>

