<h2>Zaloguj</h2>

{{ response }}

<form name="form" novalidate>
  <table class="new">
    <tr>
      <th>Login:</th> 
      <td><input type="text" name="login" ng-model="fields.login" required /></td>
      <td>
        <span ng-show="form.login.$dirty && form.login.$invalid">
          <div ng-show="form.login.$error.required">To pole jest wymagane</div>
        </span>
      </td>
    </tr>
    <tr>
      <th>Hasło:</th> 
      <td><input type="password" name="passwd" ng-model="fields.passwd" required/></td>
      <td>
        <span ng-show="form.passwd.$dirty && form.passwd.$invalid">
          <div ng-show="form.passwd.$error.required">To pole jest wymagane</div>
        </span>
      </td>
    </tr>
      <th></th>
      <td>
        <input type="submit" ng-disabled="form.login.$dirty &&
        form.login.$invalid || form.passwd.$dirty && form.passwd.$invalid" ng-click='doLogin()' />
      </td>
    </tr>
  </table>
</form>

